.sidenav {
    display: flex;
    .minimenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 100%;

        &.open {
            width: 250px;
        }

        &.close {
            width: 60px;
        }

        transition: width 0.5s;
    }
}
